body {
    margin: 0cm;
    padding: 0cm;
    font-family:Arial, Helvetica, sans-serif;
    border-image: auto;
    image-rendering: auto;
     
    
}

 h1 {
    text-align: center;
    background-color: aquamarine;
    
 }